// ------------------------------------
  // BACKGROUND COLORS
// ------------------------------------
$gold: #CF9345;
$lighterGold: #DAA35B;
$white: #F5F3F0;
$darkestBlue: #1B2531;
$mediumBlue: #2B3740;