main{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	//height: 100vh;
	overflow: hidden;
}

.header__Container{
	padding: 16px;
	height: 70px;
	background-color: #1B2531;
	box-shadow: 0 0 0 2px rgba(0,0,0,0.25);
	border-top: 3px solid #CF9345;
	border-bottom: 3px solid #CF9345;

}

.containMap{
	height: calc(100vh - 60px);
}

.map { 
	position:absolute; 
	height: 100vh;
	width:100%; 
}