.inputForm__container{
	position: absolute;
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
	padding-top: 0.75rem;
	padding-bottom: 0.5rem;
	margin: 0;
	width: 100%;
	bottom: 0;
	background-color: #1B2531;
	z-index: 2;
}

.inputForm__mainContainer{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	@media (max-width: $sm){
		flex-direction: column;
		align-items: center
	}
}

.inputForm__formContainer{
	width: 25%;
	text-align: right;
	@media (max-width: $lg){
		width: 50%;
	}
	@media (max-width: $sm){
		margin-top: 1rem;
		width: 100%;
		text-align: center;
	}
}

.inputForm__location{
	margin-right: 5%;
	width: 70%;
	@media (max-width: $md){
		width: 45%;
	}
	@media (max-width: $sm){
		margin: 0;
		width: 100%;
		text-align: center;
	}
}

.exitButton{
	align-self: flex-end;
	color: #CF9345;
	background-color: transparent;
	border: none;
	padding: 0;
	&:hover{
		color: #F5F3F0;
	}
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label,
.buttons
 {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1.5rem;
    color: $gold;
    background-color: transparent;
    border: 3px solid $mediumBlue;
    display: inline-block;
}

.chooseFiles {
	margin-right: 1%;
}

.submit{
	background-color: $gold;
	border: 3px solid $gold;
	color: #1B2531;
	&:hover{
		color: #F5F3F0;
	}
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #2B3740; //$mediumBlue
    color: #F5F3F0;
}

.inputfile + label {
	cursor: pointer; 
}