.marker {
	display: block;
	border: 5px solid #FFB858;
	border-radius: 50%;
	cursor: pointer;
	padding: 0;
	background-size: cover;
	filter: contrast(75%);
	width: 140px;
	height: 140px;

	transition: all 0.2s;

	&:hover{
		transform: scale(2);
		border: 8px solid #FFB858;
	}
}