$primaryFontFamily: "Alegreya", "Times", serif;
$secondaryFontFamily: "Lato", "Arial", sans-serif;

html{
	@media (min-width: $lg){
		font-size: 13px;
	}
	@media (max-width: $lg){
		font-size: 13px;
	}
	@media (max-width: $md){
		font-size: 12px;
	}
	@media (max-width: $sm){
		font-size: 11px;
	}
	@media (max-width: $xs){
		font-size: 10px;
	}
}

.logoText {
	font-size: 26px;
	text-transform: uppercase;
	letter-spacing: 0.25rem;
	text-align: center;
}

body {
	font-family: $primaryFontFamily;
	color: $gold;
}

h1, h2, h3, h4 h5, h6 {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.75rem;
}
/// SPECIFIC PURPOSE
.label__titles {
	color: $gold;

	font-size: 0.6rem;
	font-family: $secondaryFontFamily;
	letter-spacing: 0.20rem;
	text-transform: uppercase;
}

.fa {
	font-size: 3rem;
}
.note {
	font-size: 0.75rem;
	font-family: $secondaryFontFamily;
	font-weight: 400;
}