// breakpoint variables
$xl: 1400px;
$lg: 1220px;
$md: 1000px;
$sm: 850px;
$xs: 700px;
$xxs: 400px;

body{
	background-color: rgb(41,55,64);
}

@import "setup";

///GENERIC
@import "colors";
@import "typography";

///COMPONENTS
@import "map";
@import "geocoder";
@import "inputForms";
@import "header";
@import "gallery";